.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.image {
    width: 100%;
    overflow: hidden;
    border: 1px solid #000000;
    border-radius: 5px;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    text-align: center;
}